
  
<div class="card">

<div class="card-block">
   <div class="container col-lg-offset-12">
  <form>
    <div class="form-group  row">
      <label for="txtUserName" class="col-2 col-form-label">Usuario</label>
      <div class="input-group col-sm-6">
        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
        <input  #txtUserName class="form-control form-control-sm" id="txtUserName" placeholder="Username">
      </div>
    </div>
    <div class="form-group  row">
      <label for="txtPwd" class="col-2 col-form-label">Contraseña</label>
      <div class="input-group col-sm-6">
        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
        <input  #txPwd type="password" class="form-control form-control-sm" id="txtPwd" placeholder="password">
      </div>
    </div>
    <div class="form-group">
      <button  class="btn btn-primary" (click)="login(txtUserName.value,txPwd.value)">Login</button>  
      </div>
  </form>

</div>
  
</div>
 </div>
