  <template ngbModalContainer></template>
<div class="card">
	<div class="card-block">
		<table class="table table-striped table-sm">
			<tr>
			    <th> </th>
				<th>Codigo</th>
				<th>Fecha</th>
				<th>Cuenta</th>
				<th>Nit</th>
			</tr>
<tbody *ngIf="listadoEncabezado">
<tr *ngFor="let reg of listadoEncabezado.data" scope="row">
<td> <button    type="button" class="btn btn-success  btn-sm"       (click)="cargarDetalle(reg,detalleAsociaciones)" ><i class="fa fa-plus-square"  ></i>   </button> </td>
<td>{{reg.idSolicitudCotizacionCab}}</td>
<td>{{reg.fecha}}</td>
<td>{{reg.LIFNR}}</td>
<td>{{reg.STCD1}}</td>
</tr>
</tbody>
		</table>
</div>
</div>

<template #detalleAsociaciones >
<div class= "card">
<div class="card-header">
	<h1>Generar Cotización</h1>
</div>
<div class="card-block">
	
	<table class="table table-striped table-sm">
			<tr>
				<th>Codigo</th>
				<th>Solped</th>
				<th>Posición</th>
				<th>Descripción</th>
				<th>Cantidad</th>
				<th>Precio Unitario</th>

			</tr>
<tbody *ngIf="listadoDetalle">
<tr *ngFor="let reg of listadoDetalle.data" scope="row">
<td>{{reg.id}}</td>
<td><input class="form-control"  type="text" class="form-control mb-2 mr-sm-2 mb-sm-0"  [(ngModel)]="reg.NUMERO_SOLPED"     >  </td>
<td><input class="form-control"  type="text" class="form-control mb-2 mr-sm-2 mb-sm-0"  [(ngModel)]="reg.PREQ_ITEM"     >  </td>
<td>{{reg.SHORT_TEXT}}</td>
<td>{{reg.CANTIDAD}}</td>
<td>{{reg.PRECIOUNITARIO}}</td>
</tr>
	
</tbody>

		</table>

</div>
<div class="card-footer">
 
 <input #FileCotizacion type="file"  placeholder="Subir Cotización" accept=".pdf,.doc,.docx"> 

<button type="button"  class="btn btn-primary  btn-sm" (click)="EnviarCotizacion(contentMensajeConfirmacion) ">Asociar posiciones </button>
<br>
Total : <h2>{{total | currency:'USD':true:'1.2-2'}}</h2>

</div>
</div>

		</template>

<template #contentMensajeConfirmacion>
 <div [ngSwitch]="esError"> 
<div *ngSwitchCase=0  class="alert alert-success" role="alert">
  <strong> {{modalMensaje}}</strong> 
</div>
<div *ngSwitchCase=1  class="alert alert-danger" role="alert">
  <strong> {{modalMensaje}}</strong> 
</div>
</div>
</template>