
<nav class="navbar navbar-toggleable-md  navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><b><h2>Compras</h2></b></a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active"  routerLink="/habilitacion">Habilitar Items <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link"         routerLink="/grupos">Grupos</a>
      <a class="nav-item nav-link"         routerLink="/proveedores">Proveedores</a>
      
      <a class="nav-item nav-link" href="#">Generar Cotización</a>
    </div>
  </div>
</nav>
 <router-outlet></router-outlet>